.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #0984e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 4%;
}

.header .logo {
  font-size: 2.0rem;
  color: #fff;
  font-weight: bolder;
  padding: 1px;
  margin-left: 20px;
}

.header .logo i {
  color: rgb(41, 214, 21);
}

.header .search-form {
  border-radius: 5rem;
  height: 2.5rem;
  width: 15rem;
  padding: 0 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(255, 255, 255);
}

.header .search-form input {
  width: 100%;
  padding-right: 1.9rem;
  font-size: 1rem;
  text-transform: none;
  color: #120707;
  opacity: 1;
  padding: 8px;
 
  border: none;
  
  border-radius:50px;
}

.header .search-form label {
  font-size: 1.5rem;
  color: rgb(8, 10, 7);
  cursor: pointer;
}

.header .search-form label:hover {
  color: #082ae9;
}

.header .icons a,
.header .icons div {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
  
.header .icons a:hover,
.header .icons div:hover {
  color: rgb(6, 235, 239);
}

#search-btn {
  display: none;
}

/* side pannel */
 
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 2;
  height: 500px ;
  top: 100px;
  right:0;
  background-color: rgb(15, 17, 19);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  margin-left: 0px;
 
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;  
  color: white;
  border: none;
background: none;
cursor: pointer;
margin: 0;
padding: 0; 
  
 
border-style: none;
}

.openbtn:hover {
  background:none;
}
@media only screen and (max-width :600px){
 .icons {
    display: none;
   }
   .openbtn  {
    display: s;
   }
  .icons-1  {
    display: none;
 }
 #search-box{
  display: none;
 }
 #search-box{
  display: none;
 }
 .header .search-form {
 
 border-radius: 5rem;
    height:0px;
    width: 0px;
    padding: 0;
    display: none; 
 }   
 .sidepanel{
  display:flex;
 }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.header-1{
    padding: 20px;
    display: flex;
    position: fixed;
    overflow: hidden;
    background: red;
    width: 100%;
     
    
}
 .list-nav li{
    font-size: 20px;
    
     
}
.navbar{
    display:flex;
    align-items: center;
    padding: 15px;
    background: rgb(4, 44, 223);
    width: 100%;
    margin-left: 0;
    
}
nav{
    flex:1;
    text-align: right;
    
}
.logo:hover{
  color: white;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;

}
nav img{
    height:25px;
    text-align: center;
}
a{
    text-decoration:none;
    color:white;
    transition: transform 0.5s;
}
h2:hover {
  transform: translateY(-10px);
  color: rgb(252, 19, 19);
}
p{
    color:rgb(7, 35, 192);
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left:0 ;
    padding-right: 0;
     
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
flex-basis:50%;
min-width: 300px;
}
.col-2{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:22px 0;
}
.col-2 img{
  border-radius:10px;
  border-style: solid;
  box-shadow: black ;
 
}
 .btn{
    display: inline-block;
    background : rgb(17, 7, 129);
    color: white;
    padding:8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:background 0.5s;
 }
 .btn:hover{
    transform: translateY(-8px);
   background:red;
 }
 .header{
    background:radial-gradient(rgb(12, 26, 23),#1308ec);
 }
 .header .row{
    margin-top: 70px;
    
 }
 .categories{
    margin: 70px 0;
 }
 .col-3.col-3{
    flex-basis:30%;
    min-width:250px;
 }
 .col-3{
    width: 100%;
 }
 
.container{
    max-width: 1300px;
    margin: auto;
    padding-left:0 ;
    padding-right: 0;
     
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
flex-basis:50%;
min-width: 300px;
}
.col-2{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:22px 0;
}
.col-3 img:hover{
  transform: translateY(-10px);
  }
  .col-2 img:hover{
    transform: translateY(-10px);
    }
 
 
 .btn{
    display: inline-block;
    background : rgb(17, 7, 129);
    color: white;
    padding:8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:background 0.5s;
 }
 .btn:hover{
    transform: translateY(-8px);
   background:red;
 }
 .header{
    background:radial-gradient(rgb(12, 5, 5),#1e06d5);
 }
 .header .row{
    margin-top: 70px;
    
 }
 .categories{
    margin: 70px 0;
 }
 .col-3.col-3{
    flex-basis:30%;
    min-width:250px;
 }
 .col-3{
    width: 100%;
 }
 /* single prodect details */

 
 .single-prodect input{
  width:50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
 }
 input:focus{
  outline:none;
 }
 .single-prodect fa{
  color: red;
margin-left: 10px;
 }
 .small-img-row{
  display: flex;
  justify-content: space-between;
 }
 .small-img-col{
  flex-basis:24%;
  cursor: pointer;
 }


.container{
    max-width: 1300px;
    margin: auto;
    padding-left:0 ;
    padding-right: 0;
     
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
flex-basis:50%;
min-width: 300px;
padding: 40px;
}
.col-2{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:22px 0;
}
 
 .btn{
    display: inline-block;
    background : rgb(17, 7, 129);
    color: white;
    padding:8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:background 0.5s;
 }
 .btn:hover{
    transform: translateY(-8px);
   background:red;
 }
 .header{
    background:radial-gradient(rgb(13, 14, 16),#2202f6);
 }
 .header .row{
    margin-top: 70px;
    
 }
 .categories{
    margin: 70px 0;
 }
 .col-3.col-3{
    flex-basis:30%;
    min-width:250px;
 }
 .col-3{
    width: 100%;
 }
 .detail{
  color:rgb(8, 238, 16);
  font-size: 20px;
 }
 .line{
  text-decoration: line-through;
  color: red;
 }
 bdi{
  color: green;
 }
 .star{
  background: rgb(10, 204, 10);
  width: 50px;
 }
 .small-container{
max-width: 1080px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
 
 }
 .col-4{
    flex-basis :25px;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
 }
 .col-4 img{
    width:100%;
 }
 .title{
    text-align: center;
    margin: 0 auto 80px;
    position:relative;
    line-height:60px;
    color:#555;
 }
 .title::after{
    content: '';
    background: #110503;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
 }
 .h4{
    color: #555;
    font-weight:normal;
 }
 .col-4 p{
    font-size: 14px;

 }
 .rating .fa{
color:rgb(2, 41, 156)
 }
.col-4:hover{
    transform: translateY(-15px);
}
 .home{
  color:rgb(8, 126, 223);
  
 }
  h2{
    text-transform: uppercase;
  }
 
 
 
/*-----footer---------- */
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: white;
    background:radial-gradient(rgb(17, 183, 216),#04030a);
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 25px;
    color: rgb(7, 4, 4);
  }
  
  .footer address {
    font-style: normal;
    color: rgb(238, 238, 241);
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgba(17, 213, 30);
    border-radius: 100px;
    color: white;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
    transition: transform 0.5s;
  }
  .footer__btn:hover{
    transform: translateY(-10px);
background-color: red;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: white;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: white;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  .legal p{
    color:white;
  }
  
  .heart {
    color:white;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }